
<p><strong>What you said</strong></p>
<p id="question"><%= params[:ask] %></p>
<p><strong>What he answered</strong></p>
<p id="answer"><%= @answer %></p>

<p id="link"><%= link_to "Ask again", ask_path %></p>
