<p>What do you want to tell the coach?</p>

<div id="container">
  <form action="/answer" method="get" id="form">
    <input type="text" name="ask" id="ask">
    <input type="submit" value="Ask!" id="btn-submit">
  </form>
</div>
